body{
    margin: 0;
    font-size: 15px;
    color: #333;
    font-family:'Montserrat',sans-serif;
}

*, *::after, *::before{
    box-sizing: border-box;
}
.page{
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.nav{
    text-transform: uppercase;
    font-size: 14px;
}
.nav__link{
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.nav__link::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fce38a;
    left: 0;
    top: 100%;
    z-index: 1;
    display: block;
    opacity: 0;

}
.nav__link:hover{
    color: #fce38a;


}
.nav__link:hover::after,
.nav__link.active:after

{
    opacity: 1;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../images/5205447.jpg) center no-repeat;
    background-size: cover;
    min-height: 800px;
    position: relative;
}
.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro__title{
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    

}
.intro__title::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;

}
.intro__suptittle{
    font-size: 70px;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
}
.btn{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: 3px solid #fff;
    padding: 8px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    transition: background .1s linear, color .1s linear;
    -webkit-transition: background .1s linear, color .1s linear;
    -moz-transition: background .1s linear, color .1s linear;
    -ms-transition: background .1s linear, color .1s linear;
    -o-transition: background .1s linear, color .1s linear;
}

.btn:hover{
    background: #fff;
    color: black;
}
.slider{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider__inner{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.slider__item{
    color: #fff;
    width: 23%;
    padding: 20px 0;
    font-size: 18px;
    text-transform: uppercase;
    border-top: 2px solid #fff;
    
}

.slider__num{
    font-size: 24px;
    font-weight: 700;
}

.section{
    padding: 80px;
}

.section__header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;

}

.section__suptitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: black;
}

.section__title{
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.section__title:after{
    content: '';
    display: block;
    margin: 30px auto;
    width: 60px;
    height: 3px;
    background: #f38181;
}

.section__text{
    font-size: 15px;
    color: #999;
}


.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px -15px 0;
}

.card__item{
    width: 33.33333%;
    padding: 0 15px;

}

.card__img img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.card__text{
    width: 100%;
    color: rgb(180, 11, 11);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    left: 0;
    text-align: center;
    top: 50%;
    transform: translate3d(0,-50%,0);
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    opacity: 0;
    transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -ms-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
}


.card__inner{
    background: #95e1d3;
    position: relative;
}
.card__inner:hover .card__img{
    transform: translate3d(-10px,-10px,0);
    -webkit-transform: translate3d(-10px,-10px,0);
    -moz-transform: translate3d(-10px,-10px,0);
    -ms-transform: translate3d(-10px,-10px,0);
    -o-transform: translate3d(-10px,-10px,0);

}


.card__img{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
    -webkit-transition: transform .2s linear;
    -moz-transition: transform .2s linear;
    -ms-transition: transform .2s linear;
    -o-transition: transform .2s linear;
}

.card__inner:hover .card__img img{
    opacity: .1;
}


.card__inner:hover .card__text{
    opacity: 1;
}































































































